/* Error: Top-level selectors may not contain the parent selector "&".
 *    ,
 * 19 |    &--main{
 *    |    ^^^^^^^
 *    '
 *   sass/base/_typography.scss 19:4  @import
 *   sass/main.scss 8:9               root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: Top-level selectors may not contain the parent selector "&".\a    \2577 \a 19 \2502     &--main{\a    \2502     ^^^^^^^\a    \2575 \a   sass/base/_typography.scss 19:4  @import\a   sass/main.scss 8:9               root stylesheet';
}
